body{
    background: rgb(237, 193, 63);
    background: linear-gradient(0deg, rgba(34, 194, 194, -1) 0%,  rgba(235, 187, 45, 1)100%);
}

.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px; 
}

input, select, button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(156, 23, 223);
}

button:hover{
    background-color: rgb(29, 210, 165);

}